        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            list-style-type: none;
            text-decoration: none;
            font-family: "Poppins", sans-serif;
        }

        section {
            background-color: rgba(29, 26, 26, 1);
        }

        .container-hero {
            max-width: 1940px;
            padding-left: 20px;
            padding-bottom: 66px;
            padding-top: 110px;
        }

        .row-hero {
            gap: 55px;
        }

        .text-frame {
            max-width: 660px;
            min-height: 569px;
        }

        .head-text {
            font-size: 48px;
            line-height: 128%;
        }

        .para {
            line-height: 180%;
            font-size: 18px;
            color: rgba(255, 255, 255, 0.7);
        }

        .list-no {
            font-size: 22px;
            line-height: 150%;
        }

        .hvr-head {
            font-size: 22px;
            line-height: 150%;
        }

        .hvr-para {
            font-size: 18px;
            line-height: 180%;
            color: rgba(255, 255, 255, 0.7);
            /* font-weight: 400; */
        }

        .hvr-list {
            padding: 20px;
            height: 92px;
            border-radius: 46px;
            background-color: rgba(21, 19, 19, 1);
            gap: 23px;
            cursor: pointer;
            transition: all 300ms;
        }

        .bullet {
            max-width: 71px;
            height: 71px;
            cursor: pointer;
            transition: all 300ms;
        }

        .hvr-list:hover .bullet {
            background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
        }

        .hvr-list:hover {
            background: #0C0B0B;
        }

        @media (max-width: 1400px) {
            .right-img {
                max-width: 700px;
                height: auto;
                width: 100%;
                min-width: 645px;
            }
        }

        @media (max-width: 1200px) {
            .row-hero {
                gap: 40px;
                flex-direction: column;
                align-items: center;
            }

            .text-frame {
                gap: 44px;
            }

            .head-text {
                text-align: center;
            }

            .para {
                text-align: center;
            }
        }

        @media (max-width: 768px) {
            .left-box1 {
                padding-right: 10px;
            }

            .left-box2 {
                padding-right: 10px;
            }

            .hvr-list {
                padding: 15px;
                height: auto;
                border-radius: 20px;
                align-items: flex-start;
            }

            .para,
            .hvr-para {
                font-size: 16px;
                line-height: 1.7;
            }

            .head-text {
                font-size: 36px;
            }

            .hvr-head {
                font-size: 18px;
            }

            .right-img {
                width: 100%;
                min-width: 0;
            }

            .hvr-list {
                width: 100%;
            }

            .text-frame {
                gap: 38px;
            }
        }

        @media (max-width: 576px) {
            .hvr-list {
                display: flex;
                gap: 15px;
                padding: 12px;
                align-items: center;
            }

            .head-text {
                font-size: 30px;
            }

            .right-title {
                font-size: 16px;
            }

            .row-hero {
                gap: 30px;
            }

            .text-frame {
                gap: 32px;
            }
        }